<h1>LOG IN TO YOUR ACCOUNT</h1>
<%= form_with url: login_path do |f| %>
  <div>
    <%= f.label :email%>
    <%= f.email_field :email%>
  </div>
  <div>
    <%= f.label :password%>
    <%= f.password_field :password%>
  </div>
  <%= link_to "Forgot your password?", password_reset_path%>
  <div>
    <%= f.submit "Login!"%>
  </div>
<% end %>
