<h1>Change Your Password</h1>
<%= form_with model: @user, url: password_reset_edit_path(token: params[:token]) do |f|%>
  <%= render "shared_partials/form_errors", f: f %>
  <div>
    <%= f.label :password%>
    <%= f.password_field :password%>
  </div>
  <div>
    <%= f.label :password_confirmation%>
    <%= f.password_field :password_confirmation%>
  </div>
  <div>
    <%= f.submit "Done!"%>
  </div>
<% end %>
