<h1>Register</h1>
<p data-controller="address-autocomplete"></p>
<%= form_with model: @user, url: register_path do |f|%>
  <%= render "shared_partials/form_errors", f: f %>
  <div>
    <%= f.label :email%>
    <%= f.text_field :email%>
  </div>
  <div>
    <%= f.fields_for :location do |l|%>
      <%= l.label :city %>
      <%= l.text_field :city %>
    <% end %>
  </div>
  <div>
    <%= f.label :password%>
    <%= f.password_field :password%>
  </div>
  <div>
    <%= f.label :password_confirmation%>
    <%= f.password_field :password_confirmation%>
  </div>
  <div>
    <%= f.submit "Get Started!"%>
  </div>
<% end %>
<div class="autocomplete-container" id="autocomplete-container"></div>
