<h1>Register</h1>
<%= form_with model: @user, url: register_path do |f|%>
  <% if f.object.errors.any? %>
    <div>
      <% f.object.errors.full_messages.each do |message|%>
        <div><%= message%></div>
      <% end %>
    </div>
  <% end %>
  <div>
    <%= f.label :email%>
    <%= f.text_field :email%>
  </div>
  <div>
    <%= f.fields_for :location do |l|%>
      <%= l.label :city %>
      <%= l.text_field :city %>
    <% end %>
  </div>
  <div>
    <%= f.label :password%>
    <%= f.password_field :password%>
  </div>
  <div>
    <%= f.label :password_confirmation%>
    <%= f.password_field :password_confirmation%>
  </div>
  <div>
    <%= f.submit "Get Started!"%>
  </div>
<% end %>
