<h1>Register</h1>
<%= form_with model: @user, url: register_path do |f|%>
  <%= render "shared_partials/form_errors", f: f %>
  <div>
    <%= f.label :email%>
    <%= f.text_field :email%>
  </div>
  <%= f.fields_for :location do |l|%>
    <div data-controller="address-autocomplete", class="autocomplete-container", id="autocomplete-container">
      <%= l.label :address %>
      <%= l.search_field :address, data: {target: "address-autocomplete.address", action: "keydown->address-autocomplete#keydown"} %>
      <%= l.hidden_field :latitude, data: {target: "address-autocomplete.latitude"} %>
      <%= l.hidden_field :longitude, data: {target: "address-autocomplete.longitude"} %>
    </div>
  <% end %>
  <div>
    <%= f.label :password%>
    <%= f.password_field :password%>
  </div>
  <div>
    <%= f.label :password_confirmation%>
    <%= f.password_field :password_confirmation%>
  </div>
  <div>
    <%= f.submit "Get Started!"%>
  </div>
<% end %>
