<%= form_with model: Current.user, url: edit_password_path do |f|%>

  <div class="center-items">
    <div class="form-container">
    
      <%= render "shared_partials/app_messages/form_errors", f: f %>
      
      <fieldset>
        <div class="form-group">
          <label for="password" class="form-label mt-2">New password</label>
          <%= f.password_field :password, :class => 'form-control', :placeholder => 'Enter new password'%>
        </div>

        <div class="form-group">
          <label for="password-confirmation" class="form-label mt-4">New password Confirmation</label>
          <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => 'Repeat new password' %>
        </div>
        
        <div class="d-grid gap-2 d-flex justify-content-center">
          <%= f.submit "Done!", :class => 'btn btn-block btn-primary mt-5' %>
        </div>
      </fieldset>
    </div>
  </div>
<% end %>
