<!DOCTYPE html>
<html>
  <head>
    <title>Weather Watering 🌤</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script>
      window.apiKey = "<%= ENV['API_KEY'] %>";
    </script>
  </head>

  <body>
  <%= render "shared_partials/navbar" %>

  <%= turbo_frame_tag "modal" %>

  <div class="content mb-5"><%= yield %></div>

  <%= render "shared_partials/footer" %>
  </body>
</html>
